/* Common styles for the Property Wizard modal. */

/* Don't show the header. */
.ctools-modal-content .modal-header {
  display: none;
}
/* Add a nice drop shadow. */
#modalContent div.ctools-modal-content {
  -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
  background: #F7F7F7;
  border: none;
}
/* Button styling. */
#modalContent div.ctools-modal-content input[type=submit] {
  background: #4E6277;
  border-radius: 5px;
  margin-top: 14px;
  color: #fff;
}
/* Form labels. */
#modalContent div.ctools-modal-content .form-item label {
  width: inherit;
  float: none;
  font-size: 14px;
  font-weight: bold;
}
/* Styling for property name. */
#modalContent div.ctools-modal-content h2 {
  font-size: 36px;
  font-weight: 300;
  color: #484848;
  margin-bottom: 36px;
}
